html  {
  font-family:, script;
  margin: 0;
  padding: 0;
  font-size: 1.15em;
  }
body{
  margin: 0;
  padding: 0;
  }
.framework {
  width: 90%;
  max-width: 60em;
  margin: 1em auto;
  }
  .title{
    font-family: "birds-of-paradise";
    font-size: 4em;
    letter-spacing: .09em;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    margin-bottom: -0.4em;
    margin-top: 0;
    padding: .5em 0;
      }

span{
letter-spacing: .008em
}
body {
  font-family: , script;
  color: #000000;
  background-color: #ffffff; /* short hexadecimal / web safe */
  }
h4 {
  font-family: montserrat extralight, sans-serif;
  margin-top: 2em;
  margin-bottom: 0em;
  text-align: center;
  /* background-color: #000000 */
  }

h2 {
  font-family: "birds-of-paradise";
  font-size: 3em;
  margin-bottom: 0em;
  text-align: center;
  /* background-color: #000000 */
  }
p {
  font-family: montserrat extralight, sans-serif;
  margin: 3em;
  margin-bottom: 0em;
  text-align: center;
}
#art {
	margin: 0 auto;
	width: 90%;
	max-width: 80em;
	}
#art figure{
	display: inline-block;
	margin: 5em 10em;
	padding: 0;
	height: auto;
	width: 16em ;
	}
#art figure figcaption{
	margin: auto;
	text-align: center;
	padding: 0;
	}
#art figure img{
	height: auto;
	width: 16em ;
	padding: 5em;
	margin: 0 5%;
	padding: 1em 1em 0 1em;
	}
#art figure:last-child img{
	width: 37.5em;
	margin: 0 10%;
	}
@font-face {
    font-family: "birds-of-paradise";
    src: url('../fonts/birds_of_paradise__personal_use_only-webfont.woff2') format('woff2'),
         url('../fonts/birds_of_paradise__personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


